# Target directory
target/
*.egg-info/

# JetBrains IDEs (IntelliJ, etc.)
.idea/
*.iws
*.iml
*.ipr
out/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Local env files
.env
.env.local
*.log
